/* Layout
-----------------------------*/
html, body, #home {
	height: 100%;
	overflow-x: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');


body {
	background: url(img/home.png),
				linear-gradient(50deg,#ff4169,#7c26f8);
	background-attachment: fixed;
	font-family: Helvetica,Arial,sans-serif;
}

/* Barra de navegação
-----------------------------*/
nav.navbar-transparente {
	padding: 15px 0px;
	background: rgba(0,0,0,0.6);
}

.navbar-light .navbar-nav .nav-link {
	color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,0.5);
}


/* Capa
-----------------------------*/
.capa {
	text-align: center;
}

.btn-custom {
	color: white;
	border-radius: 500px;
	-webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 20px;
}

.btn-roxo {
	background: #7c25f8;
}

.btn-roxo:hover {
	background: #6207e3;
	color: white;
}

.btn-branco {
	border: 2px solid white;
}

.btn-branco:hover {
	background-color: white;
	color: black;
}

/* Estrutura conteúdos
-----------------------------*/
.caixa {
	padding-top: 20px;
	padding-bottom: 20px;
}

#secoes {
	background: white;
}

#secoes h2{
  font-family: 'Oleo Script', cursive;
}

#ring {
  padding-top: 15px;
  background-color: #151B11;
}

#ring h2{
  font-family: 'Oleo Script', cursive;
  color: #fff;
  letter-spacing: 1px;
}
#ring p{
  font-family: Helvetica,Arial,sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  color:white;
}

#ring a{
  padding:10px;
  background-color: white;
  text-decoration: none;
  font-size: 25px;
  color:#151B11;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 15px;
  font-family: 'Oleo Script', cursive;
}

#secoes a{
  padding:10px;
  background-color: #151B11;
  text-decoration: none;
  font-size: 25px;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 15px;
  font-family: 'Oleo Script', cursive;
}





/* Rodapé
-----------------------------*/
footer {
	background: #000;
	padding: 14px 0px 0px 0px;
	position: relative;
  text-align: center;
  color: rgba(255,255,255,0.6)
}


/* Tipografia
-----------------------------*/
h1 {

	letter-spacing: 0.05em;
	margin-bottom: 50px;
	color: white;
  font-family: 'Oleo Script', cursive;
}

h2 {
	font-size: 3em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h3 {
	font-size: 2em;
	font-weight: 700;
	letter-spacing: -0.04em;
}



/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.btn-custom {
		margin: 10px 15px;
		font-size: 1em;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	h1 {
		font-size: 3em;
	}
	.btn-custom {
		margin: 10px 15px;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	h1 {
		font-size: 4em;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	h1 {
		font-size: 5em;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	h1 {
		font-size: 6em;
	}
}


